@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Location bar */
/*
toolbar {
	max-height: 28px !important;
}

#urlbar-wrapper {
	clip-path: none !important;
	-moz-margin-start: 0 !important;
	max-height: 28px;
}

#urlbar {
	font-size: 12px;
}
*/

/* Tab bar */

tab {
	font-size: 10px !important;
}

#TabsToolbar {
	height: 15px !important;
	font-size: 10px !important;
}

/*
#tabbrowser-tabs,
.tab-background-start[selected=true]::after,
.tab-background-start[selected=true]::before,
.tab-background-start,
.tab-background-end,
.tab-background-end[selected=true]::after,
.tab-background-end[selected=true]::before {
	min-height: 24px !important;
}

#tabbrowser-tabs {
	height:24px!important;
}

#tabbrowser-tabs toolbar button > .toolbarbutton-icon {
	padding-bottom:2px !important;
}
*/

/* Back and forward button */
/*
#back-button > .toolbarbutton-icon, #forward-button > .toolbarbutton-icon {
	padding: 2px 6px !important;
}

#forward-button[disabled] {
	display: none !important;
}

#back-button > .toolbarbutton-icon {
	border-radius: 0 !important;
	-moz-image-region: rect(4px, 54px, 14px, 36px) !important;
}
*/

/* about:blank background color */
.browserContainer { background-color: darkolivegreen !important; }
